header {
    border: 2px solid rgb(71, 0, 56);
    border-radius: 20px;
    padding: 2px;
    background-color: rgb(71, 0, 56);
    text-align: center;
}

body {
    background-color: rgb(0, 0, 0);
    color: hsl(0, 0%, 0%);
    font-family: Arial;
}

#about {
    display: flex;
    padding: 1% 0;
    margin: 4% 0 ;
    border-radius: 50px;
    background-color: black;
}


.left {
    flex: 3;
}

.right {
    flex: 7;
    margin: 1px;
    border-left: 2px dotted black;
}

.col {
    border: 2px solid rgb(71, 0, 56);
    border-radius: 20px;
    padding: 22px;
    background-color: rgb(71, 0, 56);
}

footer {
    border: 2px solid rgb(71, 0, 56);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(71, 0, 56);
    text-align: center;
}

header,#about{
    margin: 0 5%;
}

a:hover{
    color: white;
}